{% load static %}
<link rel="stylesheet" href="{% static 'restaurant_search/styles.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCror64nawRqo2fkiG4KI-Y7ngeQpgIQmA&libraries=places&callback=initMap" async defer></script>
    <script src="{% static 'restaurant_search/restaurant_search.js' %}"></script>
</head>
<body>

    <!--HEADER-->

    <!--HEADER-->
    <header>
        <div class="container">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </div>

            <div class="search-bar">
                <form id="search-form">
                    <input type="search" id="name" name="name" placeholder="Restaurant Name">
                    <input type="search" id="cuisine" name="cuisine" placeholder="Cuisine Type">
                    <input type="search" id="location" name="location" placeholder="Location">
                    <button type="submit"><img src="{% static 'images/search.png' %}" alt="Search"></button>
                </form>
            </div>

            <div class="buttons">
                {% if user.is_authenticated %}
                    <!-- Dropdown menu for authenticated users -->
                    <a href="{% url 'profile' %}" class="btn">My Profile</a>
                    <a href="{% url 'logout' %}" class="btn2">Log Out</a>
                {% else %}
                    <!-- Show login and signup for unauthenticated users -->
                    <a href="{% url 'login' %}" class="btn">Log In</a>
                    <a href="{% url 'register' %}" class="btn2">Sign Up</a>
                {% endif %}
            </div>

        </div>
        <hr>
    </header>

    <!--MAIN-->

    <main class="main-container">
        <!--<div class="filter-column">Filter</div>-->
        <div id="search-results"></div>
        <div id="map"></div>
    </main>
    
</body>
</html>
